#header{
    width: 100%;
    max-width: 900px;
    padding: 20px 3px;
    overflow: hidden;
    margin: 0 auto;
    @media screen and (max-device-width: 480px) and (orientation: portrait){
        background-color: #eeeeeb;
    }
    #header_left {
        float: none;
        margin: 0 auto;
        padding-top: 0px;
        clear: both;
        text-align: center;
    }
    img{
        vertical-align: middle;
        border-style: none;;
    }
    .top-logo{
        width: 160px;
     
    }
}
